doctype html
html
  head
    title KCPO
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(type='image/png', rel='icon', href='images/favicon.png')
    link(type='image/png', rel='apple-touch-icon-precomposed', href='images/icon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/jquery.touchSwipe.min.js')
    script(type='text/javascript', src='javascripts/kcpo.js')
  body
    block content